.ProductList {

}

.Product-List-Items {
  padding-left: 24px;
  border-left: 1px #ddd solid;
}
.Product-List-Section {
  margin-bottom: 24px;
}

.Product-Loader {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 200px;
}